* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;

}

h2 {
    text-align: center;
}

.box {
    padding: 20px;
    margin: 10px 0;
    border: 2px solid lightblue;
    background-color: #e7f3ff;
}

p {
    padding: 10px;
}